   - name: Deploy to Azure VM
      uses: appleboy/ssh-action@v0.1.7
      with:
        host: ${{ secrets.VM_HOST }}
        username: ${{ secrets.VM_USER }}
        key: ${{ secrets.VM_SSH_KEY }}
        script: |
          docker login ghcr.io -u sncharanraj -p ${{ secrets.GHCR_PAT }}

          mkdir -p ~/multi-service-devops
          cd ~/multi-service-devops

          docker pull ghcr.io/sncharanraj/multi-service-service-a:latest
          docker pull ghcr.io/sncharanraj/multi-service-service-b:latest
          docker pull ghcr.io/sncharanraj/multi-service-nginx:latest

          # Write docker-compose.yml
          cat <<EOF > docker-compose.yml
          version: "3.9"
          services:
            service-a:
              image: ghcr.io/sncharanraj/multi-service-service-a:latest
              container_name: service_a
              ports:
                - "8001:8001"

            service-b:
              image: ghcr.io/sncharanraj/multi-service-service-b:latest
              container_name: service_b
              ports:
                - "5000:5000"

            nginx:
              image: ghcr.io/sncharanraj/multi-service-nginx:latest
              container_name: nginx_proxy
              ports:
                - "9000:80"
              depends_on:
                - service-a
                - service-b
          EOF

          # Stop old services (if exist)
          docker compose down || true

          # Start new services
          docker compose up -d
