name: Multi-Service CI/CD Pipeline

on:
  push:
    branches: ["main"]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Log in to GHCR
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: sncharanraj
        password: ${{ secrets.CAR_PAT }}

    - name: Build Service A Image
      run: |
        docker build -t ghcr.io/sncharanraj/multi-service-service-a:latest ./service-a

    - name: Build Service B Image
      run: |
        docker build -t ghcr.io/sncharanraj/multi-service-service-b:latest ./service-b

    - name: Build Nginx Image
      run: |
        docker build -t ghcr.io/sncharanraj/multi-service-nginx:latest ./nginx

    - name: Push Images to GHCR
      run: |
        docker push ghcr.io/sncharanraj/multi-service-service-a:latest
        docker push ghcr.io/sncharanraj/multi-service-service-b:latest
        docker push ghcr.io/sncharanraj/multi-service-nginx:latest

    - name: Deploy to Azure VM
      uses: appleboy/ssh-action@v0.1.7
      with:
        host: ${{ secrets.VM_HOST }}
        username: ${{ secrets.VM_USER }}
        key: ${{ secrets.VM_SSH_KEY }}
        script: |
          docker login ghcr.io -u sncharanraj -p ${{ secrets.GHCR_PAT }}
          docker pull ghcr.io/sncharanraj/multi-service-service-a:latest
          docker pull ghcr.io/sncharanraj/multi-service-service-b:latest
          docker pull ghcr.io/sncharanraj/multi-service-nginx:latest

          cd multi-service-devops || mkdir multi-service-devops

